.display-6 {
  font-size: 2rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.d-grid {
  display: grid;
}
.text-uppercase {
  text-transform: uppercase;
}
.small {
  font-size: 0.875em;
}
.h-100 {
  height: 100%;
}

.bg-warning {
  background-color: #ffc107;
}
.bg-opacity-10 {
  background-color: rgba(255, 193, 7, 0.1);
}
.border-start {
  border-left: 3px solid;
}
.border-warning {
  border-left-color: #ffc107;
}
